// colors
$dark-accent: #031e44;
$light-accent: #95c7ff;
$light-gray: #ededed;

// hovers
$light-accent-hover: #6facf1;
$light-gray-hover: #cecece;

// text colors
$light-gray-text: #bdbdbd;

// fonts
$title-text: "Rajdhani", sans-serif;

// box shadow
$small-shadow: 0px 0px 15px rgba(17, 17, 17, 0.15);
