.match-card {
  display: grid;
  width: 8rem;
  place-items: center;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem 0.6rem;
  box-shadow: $small-shadow;
  cursor: pointer;
  .match-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      height: 2rem;
      width: 2rem;
    }
    h4 {
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
